* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* background: url("img.jpg"); */
    background-position: center;
    background: #FBE695;
}

section {
    position: relative;
    left: 0;
    top: 0;
    width: 25%;
    padding: 50px 20px;
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    background: url("img2.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80px;
    box-shadow:  10px 10px 20px #d3c17d,
                 -10px -10px 20px #ffffad;
}
.time {
    display: flex;
    border: 10px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    /* transition: all 0.5s; */
    animation: time 3s linear ;
}
@keyframes time {
    10% {
        border-left: 10px solid red;
    }
    30%{
        border-left: 10px solid #fff;
    }
    50% { 
        border-bottom: 10px solid red;
    }
    70% {
        border-bottom: 10px solid #fff;
    }
    80% {
        border-right: 10px solid red;
    }
    90% {
        border-right: 10px solid #fff; 
    }
    100% {
        border-top: 10px solid red;
    }
}
.time p {
    margin: 40px;
    color: #000;
    font-size: 2rem;
    font-weight: 900;
}
.question h4 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}
.options {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-around;
}
.row {
    width: 100%;
    display: flex;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
}
.row ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px ;
    list-style: none;
}
.row ul li a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    min-height: 10vh;
    min-width: 10vh;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 14px;
    background: #FBE695;
    box-shadow:  7px 7px 14px #d8c680,
                 -7px -7px 14px #ffffaa;
}
.row ul li a span {
    padding: 10px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}
.row ul li a:hover {
    background-color: rgb(3, 213, 3);
}
