* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*----------------------- Header of the website ---------------------- */
section {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #e0e0e0;
    justify-content: space-between;
}

section header {
    position: relative;
    left: 0;
    top: 0;
    padding: 20px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background:rgb(194, 193, 193) ; */
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #8b8b8b,
             -10px -10px 20px #ffffff;
}

section header .logo, 
section header nav {
    padding: 10px;
    display: flex;
    transition: 0.5s;
}
section header .logo a, 
section header .logo a ion-icon {
   color: red;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.5s;
}
section header nav a {
    color: #000;
    font-family: sans-serif;
    margin-left: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
}
section header nav a.btn {
    border-radius: 20px;
   color: red;
    font-weight: 900;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #8b8b8b,
             -10px -10px 20px #ffffff;    
}
section header nav a:hover {
   color: red;
}

/*----------------------- body of the website ---------------------- */
section main .Downloader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
section main .Downloader .path {
    padding:20px 50px;
    display: flex;
    transition: 0.5s;
    border-radius: 26px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #8b8b8b,
             -10px -10px 20px #ffffff;
}
section main .Downloader .path input,
section main .Downloader .path button 
 {
    color: #000;
    padding: 10px;
    border: none;
    outline: none;
    margin: 10px;
    transition: 0.5s;
    border-radius: 2px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #8b8b8b,
             -10px -10px 20px #ffffff;
}
section main .Downloader .path button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 900;
    border-radius: 5px;
    background: red;
}

section main .Downloader .path button:hover,
section header nav a.btn:hover {
    color: rgb(255, 0, 0);
    background: #fff;
}
#weava-permanent-marker,
#weava-ui-wrapper,
#as_select_wrapper {
    display: none;
}

/*----------------------- footer of the website ---------------------- */

section footer {
    padding: 20px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    background: #ccc;
    box-shadow:  9px 9px 9px #aaa,
                 -9px -9px 9px #fff;
}

section footer .copyright p {
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
}
section footer .copyright p a {
   color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none; 
    transition: 0.5s;
    background: red;
    box-shadow:  9px 9px 20px #aaa,
                 -9px -9px 20px #fff; 
}

section footer .copyright p a:hover {
    color: rgb(255, 0, 0);
    background: #fff;
}





/* --------------------------- PRE loader -------------------------- */
.preloader {
    background: url("Assets/youtube-loading-animation.gif");
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
    opacity: 0;
    justify-content: center;
    background-size: cover;
    transition: none;
    left: -10000px;
    animation: loader 2s linear 1;
}
.preloader h1{
   color: red;
    font-size: 1.5rem;
    font-weight: 900;
    transform: translate(610px, 430px);
    animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
    0%{
        color:rgb(0, 145, 255);
    }
    50%{
        color:#fff;
    }
    90%{
        color:rgb(0, 145, 255);
    }
    100%{
        color:rgb(0, 145, 255);
    }
}
@keyframes loader {
    0%{
        left: 0%;
        opacity: 1;
    }
    50%{
        left: 0%;
        opacity: 1;
    }
    90%{
        left: 0%;
        opacity: 1;
    }
    100%{
        left: 0%;
        display: none;
    }
}

@media screen and (max-width:850px) {
    section header {
        transition: 0.5s;
        padding: 20px 30px;
    }
    section header .logo, 
    section header nav {
        padding: 0px;
    }
    section header .logo a,
    section header nav a.btn {
        font-size: 0.8rem;
        font-weight: 200;
        text-align: center;
    }
    section main .Downloader .path {
        padding: 20px;
        flex-direction: column;
        box-shadow: none;
    }
    
    section main .Downloader .path input,
    section main .Downloader .path button  {
        margin: 20px 10px;
    }
    .preloader h1 {
        font-size: 1rem;
        transform: translate(170px, 380px);
    }
    section footer {
        padding: 20px;
    }
}